{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Lista Autorów{% endblock %} |Biblio.pl</title>
</head>
<body>

<header>

    {% block menu %}

        <nav>
            <ul>
                <li><a href="{% url 'main-page' %}">Home</a> </li>
                <li><a href="{% url 'shelf:book-list' %}">Lista książek</a> </li>
                <li><a href="{% url 'shelf:author-list' %}">Lista autorów</a> </li>
                <li><a href="{% url 'contact-us' %}">Kontakt</a> </li>


                {% if user.is_authenticated %}
{#                    <li><a href="{% url '' %}">Panel admina</a> </li>#}
                    <li><a href="{% url 'account_logout' %}">Wyloguj się</a> </li>
                {% else %}
                    <li><a href="{% url 'account_login' %}">Zaloguj się</a> </li>
                    <li><a href="{% url 'account_signup' %}">Stwrzórz konto</a> </li>


                    <a href="{% provider_login_url "facebook" method="js_sdk" %}">Facebook Connect</a>
                {% endif %}


        </ul>
        </nav>




    {% endblock %}

 </header>

    {% block content %}{% endblock %}



{% providers_media_js %}
</body>
</html>