{% load socialaccount %}
{% load static %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Lista Autorów{% endblock %} |Biblio.pl</title>


    {% bootstrap_css %}


</head>
<body>

<header>

{% bootstrap_messages %}

    {% block menu %}

        <nav>
            <ul>
                <li><a class="btn btn-primary" href="{% url 'main-page' %}">Home</a> </li>
                <li><a class="btn btn-primary" href="{% url 'shelf:book-list' %}">Lista książek</a> </li>
                <li><a class="btn btn-primary" href="{% url 'shelf:author-list' %}">Lista autorów</a> </li>
                <li><a class="btn btn-primary" href="{% url 'contact-us' %}">Kontakt</a> </li>


                {% if user.is_authenticated %}
{#                    <li><a href="{% url '' %}">Panel admina</a> </li>#}
                    <li><a href="{% url 'account_logout' %}">Wyloguj się</a> </li>
                {% else %}
                    <li><a href="{% url 'account_login' %}">Zaloguj się</a> </li>
                    <li><a href="{% url 'account_signup' %}">Stwrzórz konto</a> </li>


                    <a href="{% provider_login_url "facebook" method="js_sdk" %}">Facebook Connect</a>
                {% endif %}


        </ul>
        </nav>




    {% endblock %}

 </header>

Gruzja!!! -> <img src="{% static "img/img1.jpg" %}" alt="" width="500px">

    {% block content %}



    {% endblock %}


{% bootstrap_javascript %}
{% providers_media_js %}
</body>
</html>